#sanitly-bubble {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #111;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    z-index: 999999;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  